---
import NavBar from "../navbar/NavBar.astro";
import MyLinks from "./MyLinks.astro";
---

<header class="landing-header">
  <section class="main-info-landing">
    <NavBar />
    <div class="my-name heading-3">👋 Raúl García Fernández</div>
    <div class="heading-1">Full Stack Web & Mobile Developer</div>

    <div class="my-description">
      I'm a full stack web and mobile developer with a passion for creating
      innovative and efficient solutions. I have a strong background in
      JavaScript, TypeScript, Angular, RxJS, Node.js, Flutter - Dart and
      MongoDB. I'm always looking for new challenges and opportunities to learn
      and grow.
    </div>
  </section>
  <MyLinks />
</header>

<style>
  .landing-header {
    background-color: var(--primary-color);
    padding: 0 15rem 10rem 15rem;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    justify-content: space-between;
  }

  .main-info-landing {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .my-name {
    background-color: #1e1e1e;
    padding: 6px 16px;
    display: flex;
    width: fit-content;
    align-items: center;
    font-family: "ABold";
  }

  .my-description {
    font-size: 24px;
    line-height: 34px;
    min-width: 640px;
    font-family: "ARegular";
    text-align: justify;
  }
</style>
