---
import type { Project } from "../../types/project";
import ProjectCard from "./ProjectCard.astro";

const projects: Project[] = [
  {
    title: "Network Service Configuration Module",
    description:
      "I led the development of an innovative semi-automated system that revolutionized how telematic services are configured in Linux environments. This solution transformed traditional manual configuration methods into a streamlined, efficient process for educational settings.",
    status: "completed",
    achivements: [
      "Reduced configuration time by 70% through intelligent automation",
      "Enhanced learning outcomes with interactive practice scenarios",
      "Implemented robust error handling and validation systems",
      "Created an intuitive interface for both educators and students",
    ],
    stack: "Linux, Angular, Shell Scripting, Node.js",
    link: "https://github.com/Turing0x/frontend-tesis",
    linkText: "See code on GitHub",
  },
  {
    title: "4Life Tips | Health Product Platform",
    description:
      "Architected a dynamic platform that bridges the gap between health products and consumer understanding, focusing on accessibility and user education.",
    status: "completed",
    achivements: [
      "Intelligent product recommendation engine",
      "Interactive product guides",
      "Secure payment processing",
      "Mobile-first responsive design",
    ],
    stack: "Angular, Node.js, MongoDB, TropiPay",
    link: "https://4lifetips.com/",
    linkText: "See web page",
  },
  {
    title: "IndustrialX | E-commerce Solution",
    description:
      "Developing a cutting-edge e-commerce platform tailored for Cuba's food industry, focusing on creating seamless connections between vendors and consumers.",
    status: "in-progress",
    achivements: [
      "Real-time inventory management",
      "TropiPay payment integration",
      "Advanced search and filtering",
      "Mobile-responsive design",
      "Push notification system",
    ],
    stack: "Angular, Node.js, MongoDB, TropiPay",
    link: "https://industialx-frontend.pages.dev/",
    linkText: "See web page",
  },
  {
    title: "Travel With Me | Transportation Platform",
    description:
      "Revolutionized Cuba's travel industry with a mobile-first platform that streamlines transportation services across the country.",
    status: "not-started",
    achivements: [
      "Real-time booking system",
      "Provider management dashboard",
      "Route optimization",
      "Integrated payment solutions",
      "Offline functionality",
    ],
    stack: " Flutter, Node.js, MongoDB, Firebase",
    link: "",
    linkText: "Mobile Application",
  },
];
---

<section class="projects">
  <h2 class="heading-2">Projects</h2>
  <div class="projects-container">
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</section>

<style>
  .projects {
    background-color: #000;
    display: flex;
    gap: 4rem;
    flex-direction: column;
    padding: 10rem 15rem;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }

  @media (max-width: 768px) {
    .projects {
      padding: 6rem 2rem;
    }
  }

  @media (max-width: 480px) {
    .projects-container {
      padding: 1rem;
    }
  }
</style>
