---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="history">
    <h1>My history</h1>
  </section>
</Layout>

<style>
  .history {
    background: #213740;
    background: -webkit-linear-gradient(to right, #1c4353, #002433);
    background: linear-gradient(to right, #1c4353, #002433);
    padding: 0 15rem 8rem 15rem;
    display: flex;
    flex-direction: column;
    height: 85dvh;
    justify-content: space-between;
  }
</style>
