---
import type { Lang } from "../types/lang";

const currentLang = Astro.currentLocale as Lang;

const links = {
  en: [
    { name: "Home", href: "/", title: "Go to home page" },
    { name: "Projects", href: "#projects", title: "View my projects" },
    { name: "About", href: "#about", title: "Learn more about me" },
    { name: "Contact", href: "#contact", title: "Get in touch" },
    {
      name: "Portfolio Applications",
      href: "https://apps.neptunosoftware.com/",
      title: "View my portfolio applications",
      openInNewTab: true,
    },
  ],
  es: [
    { name: "Inicio", href: "/", title: "Ir a la página de inicio" },
    { name: "Proyectos", href: "#projects", title: "Ver mis proyectos" },
    { name: "Sobre mí", href: "#about", title: "Conocer más sobre mí" },
    { name: "Contacto", href: "#contact", title: "Contactar conmigo" },
    {
      name: "Portafolio de aplicaciones",
      href: "https://apps.neptunosoftware.com/",
      title: "Ver mi portafolio de aplicaciones",
      openInNewTab: true,
    },
  ],
};
---

<div class="nav-bar">
  <ul class="nav-bar-list">
    {
      links[currentLang].map((link, index) => (
        <li
          class="nav-bar-item fade-in"
          style={`animation-delay: ${index * 0.1}s`}
          title={link.title}
        >
          <a href={link.href} target={link.openInNewTab ? "_blank" : "_self"}>
            {link.name}
          </a>
        </li>
      ))
    }

    <li class="nav-bar-item language-toggle slide-in">
      <a
        class="lang-btn"
        href={`/${currentLang === "en" ? "es" : "en"}`}
        title="Toggle language"
      >
        <span class="lang-text">EN</span>
        <span class="separator">/</span>
        <span class="lang-text">ES</span>
      </a>
    </li>
  </ul>
</div>

<style>
  .nav-bar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    background: #213740;
    background: -webkit-linear-gradient(to right, #1c4353, #002433);
    background: linear-gradient(to right, #1c4353, #002433);
    color: #e2e2e2;
  }

  .nav-bar-item {
    display: inline-block;
    white-space: pre;
    margin-right: 24px;
    font-size: 20px;
    padding-bottom: 12px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
  }

  .nav-bar-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f80;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  .nav-bar-item:hover::after {
    transform: scaleX(1);
  }

  .nav-bar-item.active {
    color: var(--border-hover-color);
  }

  .nav-bar-item:hover {
    color: var(--border-hover-color);
  }

  .nav-bar {
    position: relative;
  }

  .nav-bar-list {
    position: relative;
    gap: 0;
  }

  .language-toggle {
    position: absolute;
    right: 0;
  }

  .lang-btn {
    background: none;
    border: none;
    color: #e2e2e2;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .lang-btn:hover {
    color: var(--border-hover-color);
  }

  /* Animation keyframes */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Animation classes */
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;
  }

  .slide-in {
    opacity: 0;
    animation: slideIn 0.5s ease-out forwards;
    animation-delay: 0.4s;
  }

  @media (max-width: 768px) {
    .nav-bar {
      display: none;
    }
  }

  @media (min-width: 769px) {
    .menu-icon {
      display: none;
    }
  }
</style>

<script>
  const currentPath = window.location.pathname;

  const navItems = document.querySelectorAll(".nav-bar-item");

  const scrollToSection = (sectionId: string) => {
    const section = document.getElementById(sectionId);
    if (section) {
      section.scrollIntoView({ behavior: "smooth" });
    }
  };

  navItems.forEach((item) => {
    const link = item.querySelector("a");
    if (link && link.getAttribute("href") === currentPath) {
      item.classList.add("active");
    }

    item.addEventListener("click", () => {
      scrollToSection(link!.getAttribute("href")!);
    });
  });
</script>
