---
const links = [
  { name: "Home", href: "/" },
  { name: "Projects", href: "#projects" },
  { name: "About", href: "#about" },
  { name: "Contact", href: "#contact" },
  { name: "My Notes", href: "/notes" },
];
---

<div class="nav-bar">
  <ul class="nav-bar-list">
    {
      links.map((link) => (
        <li class="nav-bar-item">
          <a href={link.href}>{link.name}</a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .nav-bar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    background: #0575e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #021b79,
      #0575e6
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #021b79,
      #0575e6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
  }

  .nav-bar-item {
    font-family: "ABold";
    display: inline-block;
    white-space: pre;
    margin-right: 24px;
    font-size: 20px;
    padding-bottom: 12px;
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.3s ease;
    cursor: pointer;
  }

  .nav-bar-item.active {
    color: var(--border-hover-color);
  }

  .nav-bar-item:hover {
    color: var(--border-hover-color);
  }
</style>

<script>
  const currentPath = window.location.pathname;

  const navItems = document.querySelectorAll(".nav-bar-item");

  const scrollToSection = (sectionId: string) => {
    const section = document.getElementById(sectionId);
    if (section) {
      section.scrollIntoView({ behavior: "smooth" });
    }
  };

  navItems.forEach((item) => {
    const link = item.querySelector("a");
    if (link && link.getAttribute("href") === currentPath) {
      scrollToSection(link.getAttribute("href")!);
      item.classList.add("active");
    }
  });
</script>
